h1 {
  line-height: 1.2em;
}
body.light {
  --footerCardShadow: #e2e2e2;
  --footerBg: #f9f9f9;
  --themeBg: #fff;
  --themeColor: #235bc1;
  --inlineCode-bg: rgba(255, 229, 100, 0.2);
  --inlineCode-text: #1a1a1a;
}
body.dark {
  --footerCardShadow: #3e3e3e;
  --footerBg: #323232;
  --themeBg: #1f1f1f;
  --themeColor: #5893ff;
  --inlineCode-bg: hsl(222, 14%, 25%);
  --inlineCode-text: #e6e6e6;
}
.fb{
  font-weight: bold;
}
.fadeInOpacity {
  
}
.op0{
  opacity: 0;
}
.margin20 {
  margin: 20px;
}
.marginB20{
  margin-bottom: 20px;
}
.pad5{
  padding: 5px;
}
.textcenter {
  text-align: center;
}
.pad10 {
  padding: 10px;
}
.pad20{
  padding: 20px;
}
.padT15{
  padding-top: 15px;
}
.inbl {
  display: inline-block;
}
.fr {
  float: right;
}
.white {
  color: #fff;
}
.padT20 {
  padding-top: 20px;
}
.padL20 {
  padding-left: 20px;
}
.padT15 {
  padding-top: 15px;
}
.pad30 {
  padding: 30px;
}
.marginR20 {
  margin-right: 20px;
}
.marginLR15 {
  margin-right: 15px;
  margin-left: 15px;
}
.marginB20 {
  margin-bottom: 20px;
}
.marginB70 {
  margin-bottom: 70px;
}
.marginR10 {
  margin-right: 10px;
}
.mt50 {
  margin-top: 50px;
}
.mTB50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mB25{
  margin-bottom: 25px;
}
.width100{
  width: 100%;
}
.margin10 {
  margin: 10px;
}
.margin30 {
  margin: 30px;
}
.lh2em{
  line-height: 2em;
}
.mh30{
  min-height: 30px;
}
.mw960 {
  max-width: 960px;
  /* min-width: 400px; */
  margin: auto;
  padding: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.hand:hover {
  cursor: pointer;
}
.linkHand:hover {
  cursor: pointer;
  text-decoration: underline;
}
.posRel {
  position: relative;
}
.mt10 {
  margin-top: 10px;
}
.mt50 {
  margin-top: 50px;
}
.posAbs {
  position: absolute;
}
.mh100vh{
  min-height: 100vh;
}
.marginR10{
  margin-right: 20px;
}
.mh90vh{
  min-height: 90vh;
}
.mh60vh{
  min-height: 60vh;
}
.lr05{
  letter-spacing: 0.05rem;
}
.fs16{
  font-size: 16px;
}
.ico12{
  font-size: 12px;
}
.ico13{
  font-size: 13px;
}
.ico14{
  font-size: 14px;
}
.fs18 {
  font-size: 18px;
}
.padT10{
  padding-top: 10px;
}
.ico25{
  font-size: 25px;
}
.scaleOnHover{
  transition: all 0.2s linear;
}
.scaleOnHover:hover{
  transform: scale(1.1);
}
.ellipsis2{
  overflow: hidden!important;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2!important;
}
/* index specifcs */
.h120p {
  height: 120px;
}
.cardWrap{
  display: block;
  margin-bottom: 10px;
  box-shadow: 2px 7px 7px var(--footerCardShadow);
  background: var(--themeBg) !important;
  padding: 15px;
  border-radius: 5px;
  margin-right: 10px;
  /* display: inline-block;
  max-width: 300px;
  max-height: 210px; */
  overflow: hidden;
  transition: all 0.2s linear;
}
.cardWrap:hover{
  box-shadow: 4px 14px 14px  var(--footerCardShadow);
  transform: scale(1.02);
}
.cardHeader {
  color: var(--themeColor) !important;
  /* height: 72px; */
}
.blogFooter{
  background: var(--footerBg);
  padding: 20px;
}
.headingTxtColor {
  color: #151617;
}

.blogTopicFont {
  font-family: 'Baloo Chettan';
}

.blogHeading {
  font-size: 28px;
  line-height: 1.5;
  font-weight: bold;
}

.toggleBtn {
  height: 23px;
  width: 50px;
  border-radius: 15px;
}
.dn {
  display: none;
}
.vh {
  visibility: hidden;
}
.fs40 {
  font-size: 40px;
}
.blogText a {
  color: #0066ff;
}
.blogText a:hover {
  text-decoration: underline;
}
.blogText a:active {
  color: #ae7cff;
}
.backIcon {
  font-size: 30px;
  padding-right: 10px;
}
.top38{
  top: 38px;
}
.blogText img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.backHomeHeader {
  font-size: 24px;
  position: relative;
}
a.backHomeHeader:hover{
  text-decoration: none;
}
.contactIconBg{
  background: #fff;
  border-radius: 28%;
  height: 30px;
  width: 40px;
}
.fadeInWrap {
  position: relative;
  overflow: hidden;
}
.fadeInWord {
  /* transition: transform 1s cubic-bezier(0.075, 0.82, 0.165, 1); */
  position: relative;
  text-align: center;
  width: 100%;
  top: 0;
  line-height: 1.2;
}
.keyFrameAnimator {
  animation: 0.8s animateTop0;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
}

@keyframes animateTop0 {
  100% {
   top: 0px;
  }
}
/* @media screen and (max-width: 650px) {
  .fadeInWrap {
    height: 130px;
  }
} */



/**
 * Based on copypasta from Remy Bach and Sarah Drasner
 */
code[class*='language-'],
pre[class*='language-'] {
  color: rgb(186, 228, 255);
  background: none;
  /* font-family: Consolas, Menlo, Monaco, source-code-pro, Courier New, monospace; */
  font-feature-settings: normal;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  margin-bottom: 0;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
}

:not(pre) > code[class*='language-'] {
  border-radius: 0.3em;
  background: var(--inlineCode-bg);
  color: var(--inlineCode-text);
  padding: 0.15em 0.2em 0.05em;
  white-space: normal;
  font-size: 15px;
}

/* Code blocks */
pre[class*='language-'] {
  overflow: auto;
  padding: 1.3125rem;
}

pre[class*='language-']::-moz-selection {
  /* Firefox */
  background: hsl(207, 4%, 16%);
}

pre[class*='language-']::selection {
  /* Safari */
  background: hsl(207, 4%, 16%);
}

/* Text Selection colour */
pre[class*='language-']::-moz-selection,
pre[class*='language-'] ::-moz-selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}

pre[class*='language-']::selection,
pre[class*='language-'] ::selection {
  text-shadow: none;
  background: hsla(0, 0%, 100%, 0.15);
}


.token.attr-name {
  color: rgb(173, 219, 103);
  font-style: italic;
}

.token.comment {
  color: rgb(0, 139, 165);
}

.token.string,
.token.url {
  color: rgb(247, 140, 108);
}

.token.variable {
  color: rgb(214, 222, 235);
}

.token.number {
  color:rgb(173, 219, 103)
}

.token.builtin,
.token.char,
.token.constant,
.token.function {
  color: rgb(247, 241, 151);
}

.token.punctuation {
  color: #fff;
}

.token.selector,
.token.doctype {
  color: rgb(199, 146, 234);
  font-style: 'italic';
}

.token.class-name {
  color: rgb(255, 203, 139);
}

.token.tag,
.token.operator,
.token.keyword {
  color: #64a0fb;
}

.token.boolean {
  color: rgb(255, 88, 116);
}

.token.property {
  color: rgb(128, 203, 196);
}

.token.namespace {
  color: rgb(178, 204, 214);
}

pre[data-line] {
  padding: 1em 0 1em 3em;
  position: relative;
}

.gatsby-highlight-code-line {
  background-color: hsla(207, 95%, 15%, 1);
  display: block;
  margin-right: -1.3125rem;
  margin-left: -1.3125rem;
  padding-right: 1em;
  padding-left: 1.25em;
  border-left: 0.25em solid #ffa7c4;
}

.gatsby-highlight {
  margin-bottom: 1.75rem;
  margin-left: -1.3125rem;
  margin-right: -1.3125rem;
  border-radius: 10px;
  background: #011627;
  -webkit-overflow-scrolling: touch;
  overflow: auto;
  box-shadow: 0px 0px 20px 1px #010644;
} 

@media (max-width: 672px) {
  .gatsby-highlight {
    border-radius: 0;
  }
}

.gatsby-highlight pre[class*='language-'] {
  float: left;
  min-width: 100%;
}
