/* Avatar */
.avatarImg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
  left: 50%;
  top: 50%;
  border: 3px solid #235bc1;
}

/* Toggle */
.toggler {
  height: 19px;
  width: 20px;
  left: 2px;
  top: 1px;
  position: absolute;
  border-radius: 10px;
  transition: all 100ms linear;
}

.moveRight {
  left: 55%;
}