.margin20 {
  margin: 20px;
}
.textcenter {
  text-align: center;
}
.pad10 {
  padding: 10px;
}
.inbl {
  display: inline-block;
}
.fr {
  float: right;
}
.white {
  color: #fff;
}
.pad30 {
  padding: 30px;
}
.marginR20 {
  margin-right: 20px;
}
.mt50 {
  margin-top: 50px;
}

.mw960 {
  max-width: 960px;
  min-width: 400px;
  margin: auto;
  padding: 10px;
}
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.hand:hover {
  cursor: pointer;
}

.headingTxtColor {
  color: #151617;
}

.blogTopicFont {
  font-family: 'Baloo Chettan';
}


.blogHeading {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.toggleBtnBgDark {
  background-color: #5a5a5a;
  color: #fff;
}
.toggleBtnBgLight {
  background-color: #dcdcdc !important;
  color: #5a5a5a;
}

