body.dark {
  background-color: #1f1f1f;
}
.dark .headingTxtColor {
  color: white;
}
.dark .blogTopicTxtColor {
  /* color: #41c7ff; */
  color: #5893ff;
}
.dark .descriptionTxtColor {
  color: #cccccc;
}
.dark a.readMoreLink {
  color: #cccccc;
  text-decoration: none;
}
.dark hr {
  color: #fff;
  background: #fff;
}

.dark .toggleBtnBg {
  background: #fff;
}

.dark .togglerBg{
  background: #000;
}
.dark .fadeInWord {
  color: #fff;
}
.dark .themeColor {
    color: #5893ff;
}
.dark .blogText {
  color: #dadada;
}
.dark h1 {
  color: #fff !important;
}
.dark h2, .dark h3 {
  color: #5893ff!important;
}