body.light {
  background-color:#fff;
}
.light .headingTxtColor {
  color: #2d2d2d;
}
.light .blogTopicTxtColor {
  /* color: #055171; */
  color: #235bc1;
}

.light .descriptionTxtColor {
  color: #636363;
}

.light a.readMoreLink {
  color: #636363;
  text-decoration: none;
}
.light .avatarInto {
  color: #636363;
}

.light .toggleBtnBg {
  background: #000;
}

.light .togglerBg{
  background: #fff;
}
.light .fadeInWord {
  color: #464646;
}