body.light {
  background-color:#fff;
}
.light .headingTxtColor {
  color: #2d2d2d;
}
.light .blogTopicTxtColor {
  /* color: #055171; */
  color: #296be4;
}

.light .descriptionTxtColor {
  color: #636363;
}

.light a.readMoreLink {
  color: #636363;
  font-weight: bold;
  text-decoration: none;
  font-size: 15px;
}
.light .avatarInto {
  color: #636363;
}

.light .toggleBtnBg {
  background: #000;
}

.light .togglerBg{
  background: #fff;
}